*{
    margin: 0;
    padding: 0;
    font-family: 'pt_sansregular';
}
header.ust{
    background: url(images/overlay.png),url(images/pic12.jpg);
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0px;    
    padding: 0px;
}
header h1{
    position: relative;
    font-size: 18px;
    margin-left: 30px;
    top: 50px;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    font-family:'Raleway', sans-serif;
}
header strong{
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header ul{
    list-style: none;
    position: relative;
    float: right;
    margin-right: 20px;
    top: 10px;
}
header ul li{
    display: block;
    padding: 5px;
    float: left;
    margin-top: 15px;
}
header ul li a{
    color: #d8d8d8;
    font-family: 'pt_sansregular';
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s;
    background-color: hsla(0, 0%, 100%, 0.062);
    padding: 10px 15px; 
    border-radius: 5px;
}
header ul li a:hover{
color: white;
background-color: hsla(0, 0%, 100%, 0.281) ;
}
header #banner{
    width:100%;
    position: absolute;
    top: 40%;
    text-align: center;
}
#banner h2{
    font-size: 40px;
    color: aliceblue;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#banner p{
    color: #aaa;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 100;
    letter-spacing: 2px;
}
#banner a{
    padding: 25px 35px;
    background:#f32853;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    transition: .6s;
}
#banner a:hover{
    background: #ffffff;
    color: #f31545;
    border-radius: 20px;
}
#bolum2{
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}
.kapsayici{
    width: 1000px ;
    margin: 0 auto;   
}
#bolum2 .kapsayici .sol{
    width: 400px;
    float: left;
    padding-left: 70px;
}
#bolum2 h2{
    font-family:'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #484848;
    line-height: 60ox;
}
#bolum2 .sol p{
    font-family:'Raleway', sans-serif;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 100;
    color: #aaa;
    line-height: 40px;
}
#bolum2 .sag{
    width: 400px;
    float: right;
    padding-right: 50px;
    margin-left: 40px;
}
#bolum2 .sag p{
    line-height: 30px;
    color: #666;
    margin-bottom: 60px;
}
.temizle{
    clear: both;
}
#bolum3{
    width: 100%;
    margin: 0 auto;
    padding: 50px 0px;
    background: #f6f6f6;
    text-align: center;
}
#bolum3 h2{
    font-size: 40px ;
    font-weight: 700;
    font-family:'Raleway', sans-serif;
    color: #484848;
}
#bolum3 p{
    margin: 30px 10px;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #111;
}
#bolum3 .resim{
    width: 300px;
    position: relative;
    float: left;;
    background: #fff;
    margin: 50px 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
}
#bolum3 img{
    width: 300px;
    margin: 0;
    opacity: 0.2;
    transition: .6s;
}
#bolum3 img:hover{
   opacity: 0.6;
}

#bolum3 .kapsayici2{
    text-align: center;
    width: auto;
    padding: 0px 265px; 
    margin: 0px;
}
#bolum3 ul{
    list-style: none;
}
#bolum3 ul li{
    display: inline-block;
    padding: 0px 20px;
}
#bolum3 ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family:'Raleway', sans-serif;
    display: block;
    padding: 20px 50px;
    background: #f32853;
    color: white;
    font-weight: 600px;
    border-radius: 5px;
    transition: .6s;
}
#bolum3 ul li a:hover{
    font-weight: bold;        
    background: #f6f6f6;
    color: #f32853;
}
#bolum4 {
    width: 100%;
    padding-top: 50px;
}
#bolum4 h2{
    margin-left: 50px;
    font-size: 30px;
    font-weight: 700;
    font-family:'Raleway', sans-serif;
    color: #484848;
    margin-bottom: 30px;
}
#bolum4 h2+p{
    font-size: 18px;
    color: #666;
    margin-left: 50px;
    margin-bottom: 50px;
}
#bolum4 .bolumler{
    width: 460px;
    float: left;
    margin-bottom: 50px;
    margin-right: 20px;
}
#bolum4 .bolumler .kucukresim{
    float: right;
    width: 130px;
    margin: 10px;
}
#bolum4 .bolumler .kucukresim img{
    border: 5px solid #b0b0b0b0;
    border-radius: 100%;
    width: 130px;
}
#bolum4 .bolumler .yazi{
    float: left;
    width: 290px;
    text-align: right;
    padding: 10px;
    line-height: 25px;
}
#bolum4 .bolumler .yazi h3+p{
    font-size: 14px;
    color: #aaa;
    margin-bottom: 20px;
}
#bolum4 .bolumler:nth-child(2n) .yazi{
    text-align: left;
}
#bolum4 .bolumler:nth-child(2n) .yazi h3{
    text-align: left;
}
#bolum4 .bolumler:nth-child(2n) .kucukresim{
    float: left;
}
#bolum4 .bolumler .yazi p:nth-child(3){
    color: #666;
    font-size: 18px;
}
#bolum5{
    width: 100%;
    height: 350px;
    background: url(images/overlay.png),url(images/pic12.jpg);
    background-attachment: fixed ;
    background-size: cover;
    position: relative;
}
#bolum5 .icerik{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
}
#bolum5 .icerik h2{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
#bolum5 .icerik p{
    color: #aaa;
    font-size: 18px;
    margin-bottom: 50px;
}
#bolum5 .icerik a{
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    padding: 20px 50px;
    background: #f32853;
    text-decoration: none;
    color: #fff;
    transition: .6s;
}
#bolum5 .icerik a:hover{
    background:#e20535;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}

footer{
    width: 100%;
    height: 350px;
    text-align: center;
}
footer .sosyal{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
footer a{
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}
footer a[title="facebook"]::before{
    content: "";
    background: url(icons/facebook.png)no-repeat;
    width: 45px;
    height: 45px;
    display: inline-block;
}
footer a[title="twitter"]::before{
    content: "";
    background: url(icons/twitter.png)no-repeat;
    width: 45px;
    height: 45px;
    display: inline-block;
}
footer a[title="linkedin"]::before{
    content: "";
    background: url(icons/linkedin.png)no-repeat;
    width: 45px;
    height: 45px;
    display: inline-block;
}
footer ul{
    list-style: none;
    text-align: center;
    position: relative;
s
}
footer ul li{
    display: inline-block;
    padding: 2px 25px;
}
footer ul li p{
    font-size: 20px;
    font-family:'Raleway', sans-serif;
    color: darkgray;
}
footer ul li:nth-child(-n+2){
    border-right: 2px solid #b4b1b1;
}